<html lang="en-Us">
<head>

	<meta charset="utf-8">
    
	<title>cauth - v0.1 | verify email</title>

    <link rel='stylesheet' href='https://meyerweb.com/eric/tools/css/reset/reset.css'>
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:400,300'>

	<!--[if lt IE 9]>
		<script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <style>
        body {
            background: #f4f4f4;
            color: #5a5656;
            font: 100%/1.5em 'Open Sans', sans-serif;
            margin: 0;
        }

        a { text-decoration: none; }

        h1 { font-size: 1em; }

        h1, p {
            margin-bottom: 10px;
        }

        strong {
            font-weight: bold;
        }

        .uppercase { text-transform: uppercase; }

        /* ---------- LOGIN ---------- */

        #login {
            margin: 50px auto;
            width: 300px;
        }

        form fieldset input[type="text"], input[type="password"] {
            background: #e5e5e5;
            border: none;
            border-radius: 3px;
            color: #5a5656;
            font-family: inherit;
            font-size: 14px;
            height: 50px;
            outline: none;
            padding: 0px 10px;
            width: 280px;
        -webkit-appearance:none;
        }

        form fieldset input[type="submit"] {
            background-color: #008dde;
            border: none;
            border-radius: 3px;
            color: #f4f4f4;
            cursor: pointer;
            font-family: inherit;
            height: 50px;
            text-transform: uppercase;
            width: 300px;
        -webkit-appearance:none;
        }

        form fieldset a {
            color: #5a5656;
            font-size: 10px;
        }

        form fieldset a:hover { text-decoration: underline; }

        .btn-round {
            background: #5a5656;
            border-radius: 50%;
            color: #f4f4f4;
            display: block;
            font-size: 12px;
            height: 50px;
            line-height: 50px;
            margin: 30px 125px;
            text-align: center;
            text-transform: uppercase;
            width: 50px;
        }
    </style>

</head>

<body>

	<div id="login">

		<h1><strong>Hello.</strong></h1>

        <p><a href="{{publisher_redirect_url}}">Login as <strong>Publisher</strong></a></p>
        <p><a href="{{author_redirect_url}}">Login as <strong>Author</strong></a></p>

	</div> <!-- end login -->

</body>
</html>